@using informatica_fstival.Database
@model Film

    <div class="container">
        <div class="div1">
            <button onclick="history.back()" class="back">&#8249;</button>
            <br/>
            <img class="dune" src="@Model.Poster" width="400" />
        </div>
        <div class="div2">
            <h1>@Model.Titel</h1>
            <div class="div2-1">
                <div class="div2-1-1">
                    <p><b>Cast:</b></p>
                </div>
                <div class="div2-1-2">
                    <p>@Model.Cast</p>
                </div>
            </div>
            <div class="div2-1">
                <div class="div2-1-1">
                    <p><b>Regisseur:</b></p>
                </div>
                <div class="div2-1-2">
                    <p>@Model.Regisseur</p>
                    <br />
                </div>
            </div>
            <div class="div2-2">
                <p>
                    <b>Over:</b>
                    <br /><br />
                    @Model.Beschrijving
                </p>
            </div>
            <div class="div2-3">
                 <b>Beschikbaarheid:</b>
                    <br /><br />
                @Model.Beschikbaarheid
            </div>
             <div class= "div4">
            @Model.Start
            @Model.Eind
             </div>
        </div>
    </div>
    